.css-layout{
    .left-layout{
        height: 200px;
        font-size: 20px;
        color:#ffffff;
        text-align: center;
        line-height: 200px;
        padding-bottom: 20px;
        .left-part{
            float: left;
            width: 200px;
            height: 100%;
            background: #3d9be1;
        }
        .content-part{
            margin-left: 200px;
            height: 100%;
            background: #b7e4fc;
        }
    }
    .center-layout{
        height: 200px;
        font-size: 20px;
        color:#ffffff;
        text-align: center;
        line-height: 200px;
        .left-part{
            float: left;
            width: 200px;
            height: 100%;
            background: #3d9be1;
        }
        .content-part{
            margin-left: 200px;
            height: 100%;
            background: #b7e4fc;
            margin-right: 200px;
        }
        .right-part{
            float: right;
            width: 200px;
            height: 100%;
            background: #3d9be1;
        }
    }
}